/*-----Rregullat e Pergjithshme, Zerimi i Maginave-----*/

* {
  margin: 0; 
  padding: 0; 
}

body {
  min-width: 320px;
  background: url("images/mobile/background.jpg");
}

/*-------------- The Header and Navigation Section ---*/

/*-----Header General Styles-----*/
#header {
  padding-top:10px;
  width: 100%; 
  font-family: "Helvetica", "Verdana", "Arial", sans-serif, serif; 
}

#header_upper_strip {
  overflow: hidden;
}

#header_main{ 
  margin: 0 auto;
  width: 100%; 
  max-width:360px;
}

/*-----The Logo Style-----*/
#header img {
  display: block;
  margin: 0 auto;
  width: 85%;
}

/*-----Main Nav Style-----*/
#header #main_nav {
  margin: 0 auto;
  width: 100%; 
  display: block;
  overflow: hidden;
}

#header #main_nav a{
  margin: 5px 0 5px 2%;
  padding: 5px 0; 
  display: block;
  float: left;
  width: 22%;
  text-align: center; 
  text-decoration: none;
  color: white; 
  font-size: 12pt;
  font-style: italic; 
  font-weight: bold; 
  background-color: #33c9e0;
  border: 1px solid #33c9e0;
  border-radius: 5px;
}

#header #main_nav a:hover {
  text-decoration: underline;
  background: #195e69;
  border: 1px solid #195e69;
}

#header #main_nav a.current {
  border: 1px solid #7a5ded;
  background: #7a5ded;
}


/*---------- @media styles with hybrid fixed and liquid styles ----------*/

/*Medium Screens*/

@media screen and (min-width: 481px) {

    /*-------------- The Header and Navigation Section ---*/
    #header {
      padding-top:15px;
    }

    #header_upper_strip {
      //background: url("images/upper_strip_background.png") repeat-x;
    }

    #header_main{  
      max-width:680px;
    }

    #header #main_nav a{
      margin: 15px 0 10px 3%;
      padding: 8px 0; 
      width: 21%;
      font-size: 16pt;
    }

    /*-----Subnav Style-----*/
    #header #subnavs {  
      max-width:680px;
    }

    #header #subnavs ul li{
      margin: 8px 1.9%; 
      width: 46%; 
    }
    /*-----Anchors Text Style-----*/
    #header #subnavs ul li a {
      padding: 10px 0; 
      font-size: 110%; 
    }
}


/*Large Screens*/

@media screen and (min-width: 801px) {
    body {
      background: url("images/background.jpg");
    }

    /*-------------- The Header and Navigation Section ---*/
    #header {
      padding-top:15px;
    }

    #header_main{  
      max-width:1000px;
    }
   
    #header img {
      margin: 10px 1%;
      width: 43%;
      float: left;
    }

    #header #main_nav {
      margin: 0 1%;
      padding: 0;
      width: 53%;
    }

    #header #main_nav a{
      margin: 10% 0 0 3%;
      padding: 2% 0; 
      width: 21%;
      font-size: 15pt;
    }
  
   /*-----Subnav Style-----*/
    #header #subnavs { 
      max-width: 1000px;
    }

    #header #subnavs ul li{
      margin: 8px 0.5%; 
      width: 32%; 
    }
    /*-----Anchors Text Style-----*/
    #header #subnavs ul li a {
      padding: 10px 0; 
      font-size: 115%; 
    }
}

/*Extra Large (Desktop) Screens*/

@media screen and (min-width: 1121px) {

  /*-------------- The Header and Navigation Section ---*/
    #header {
      padding-top:25px;
    }

    #header_main{  
      max-width:1440px;
    }
   
     #header #main_nav a{
      font-size: 18pt;
    }
  
   /*-----Subnav Style-----*/
    #header #subnavs { 
      max-width: 1440px;
    }

    #header #subnavs ul li{
      margin: 8px 0.5%; 
      width: 23.9%; 
    }
    /*-----Anchors Text Style-----*/
    #header #subnavs ul li a {
      padding: 12px 0; 
      font-size: 130%; 
    }
}

