* {
    margin: 0; 
    padding: 0; 
  }

  body {
    min-width: 320px;
    background: url("images/background.jpg");
    
  }
  #header {
    padding-top:10px;
    width: 100%; 
    font-family: "Helvetica", "Verdana", "Arial", sans-serif, serif; 
  }

  #header_upper_strip {
    overflow: hidden;
    background: url("images/upper_strip_background.png") repeat-x;
  }

  #header_main{ 
    margin: 0 auto;
    width: 100%; 
    max-width:360px;
  }

  #header img {
    display: block;
    margin: 0 auto;
    width: 85%;
  }

  #header #main_nav {
    margin: 0 auto;
    width: 100%; 
    display: block;
    overflow: hidden;
  }

  #header #main_nav a{
    margin: 5px 0 5px 2%;
    padding: 5px 0; 
    display: block;
    float: left;
    width: 22%;
    text-align: center; 
    text-decoration: none;
    color: white; 
    font-size: 12pt;
    font-style: italic; 
    font-weight: bold; 
    background-color: #A15B01;
    border: 1px solid #A15B01;
    border-radius: 5px;
  }

  #header #main_nav a:hover {
    text-decoration: underline;
    background: #A15B01;
    border: 1px solid #A15B01;
  }
  
  #header #main_nav a.current {
    border: 1px solid #5441A9;
    background: #5441A9;
  }

  

  @media screen and (min-width: 481px) {

    #header {
        padding-top:15px;
      }

      
      #header_main{  
        max-width:680px;
      }

      #header #main_nav a{
        margin: 15px 0 10px 3%;
        padding: 8px 0; 
        width: 21%;
        font-size: 16pt;
      }
}

@media screen and (min-width: 801px) {
    
    #header {
      padding-top:15px;
    }

    #header_main{  
      max-width:1000px;
    }

    #header img {
        margin: 10px 1%;
        width: 43%;
        float: left;
      }

      #header #main_nav {
        margin: 0 1%;
        padding: 0;
        width: 53%;
      }

      #header #main_nav a{
        padding: 2% 0; 
        width: 21%;
        font-size: 15pt;
      }
}

@media screen and (min-width: 1121px) {

    /*-------------- The Header and Navigation Section ---*/
      #header {
        padding-top:25px;
      }
  
      #header_main
      {  
        max-width:1440px;
      }
     
       #header #main_nav a{
        font-size: 18pt;
      }