#content {
    margin: 0 auto;
    width: 100%;
    min-width: 320px;
    max-width: 360px; 
    background-color: #E7EAFF;
    font-size: 14pt; 
  }

  #content h1 {
    margin: 15px 0;
    padding: 5px ;
    font-size: 150%;
    text-align: center;
  }

  #content h2 {
    margin: 5px 0;
    padding: 5px ;
    font-size: 120%;
    text-align: center;
  }

  #content #sort_form, #content #simple_search_form, #content #adv_search_form {
    border-top: 1px dashed #2224A4; 
    margin: 0 auto; 
    margin-bottom: 5px; 
  }

  #content #sort_form form, #content #simple_search_form form, #content #adv_search_form form {
    width: 90%; 
    margin: 0 auto; 
  }

  #content #sort_form form select{
    width: 60%; 
    margin: 5px auto; 
    padding: 3px; 
    font-weight: bold; 
    font-size: 70%; 
    color: #2224A4;; 
    background: white;  
    padding: 3px; 
    list-style: none; 
    border-top: 2px solid white; 
    cursor:pointer;
  }

  #content #sort_form form input[type=submit]{
    width: 25%; 
    margin: 5px; 
    padding: 3px; 
    border: 2px solid white;
    border-radius: 5px; 
    font-weight: bold; 
    font-size: 90%; 
    color: white; 
    background: #2224A4; 
    cursor:pointer;
  }

  #content #simple_search_form input[type=text]{
    width: 60%;
    margin: 5px auto;
    padding: 3px;
    border: 2px solid #2224A4;
    font-weight: bold;
    color: black;
    background: white;
  } 

  #content #simple_search_form input[type=submit]{
    width: 25%; 
    margin: 5px ; 
    padding: 3px; 
    border: 2px solid white;
    border-radius: 5px; 
    font-weight: bold; 
    font-size: 90%; 
    color: white; 
    background: #2224A4; 
    cursor:pointer;
  }

  #content #simple_search_form #avd_search_toggler {
    display:block;
    margin: 10px auto; 
    padding: 5px; 
    width: 55%; 
    max-width: 280px;
    text-align: center; 
    color: #00001d;
    font-weight: bold; 
    font-size: 85%;   
    border: 1px solid black;
    border-radius: 8px;
  }

  #content #adv_search_form {
    margin-bottom: 5px; 
    display: ;  
  }

  #content #adv_search_form fieldset{
    border: 1px solid #2224A4; 
  }

  #content #adv_search_form fieldset legend{
    padding: 5px; 
    font-weight: bold; 
    text-align: center; 
  }

  #content #adv_search_form fieldset p{
    font-size: 75%; 
    padding: 3px 5px; 
    text-align: center; 
    font-style: italic;
  }

  #content #adv_search_form fieldset ul{
    list-style: none; 
  }

  #content #adv_search_form fieldset ul li{
    overflow: hidden; 
    margin: 5px;
  }

  #content #adv_search_form fieldset ul li label{
    display: block; 
    width: 25%;
    padding: 3px; 
    float: left;  
    font-size: 90%; 
    font-weight: bold; 
  }

  #content #adv_search_form fieldset ul li input[type=text]{
    width: 65%; 
    padding: 3px;
    border: 2px solid #2224A4;
    font-weight: bold;
    color: black;
    background: white;
  }

  #content #adv_search_form fieldset ul li input[type=submit]{
    display: block; 
    width: 30%; 
    margin: 5px auto; 
    padding: 3px; 
    border: 2px solid white;
    border-radius: 5px; 
    font-weight: bold; 
    font-size: 90%; 
    color: white;
    background: #2224A4; 
    cursor:pointer;
  }

  /*Styling the movies_list */
   #content #movies_list {
    margin: 0 auto;
    max-width: 360px; 
    margin: 1px auto;
    overflow: hidden;
  }

  #content #movies_list li{
    margin: 10px auto;
    width: 90%;
    border: 1px solid #2224A4;
    list-style: none;
    background: url("../images/mobile/lista_background.jpg");
  }

  #content #movies_list li a{
    width: 100%;
    height: 100%;
    display: block;
    position: relative;
  }
  
  #content #movies_list li a img{
    margin: 0 8px 0 0;
    width: 140px;
    height: 100%;
    display: block;
    position:absolute;
  }

  #content #movies_list li a p{
    margin: 0 auto;
    padding: 5px 0 0 145px;
    display: block;
    font-size: 80%;
    overflow: hidden; 
    text-align: center;
    color: white;
  }
  
  #content #movies_list li a p span{
    display: block; 
    padding: 3px;  
    border-top: 1px dashed white; 
    font-size: 70%
  }

  /*hover style of movies_list*/
  #content  #movies_list li:hover{
    background:#A15B01;
  }

  /*Bottom Navigation Styles */

  #content #bottom_nav{
    margin: 5px auto;
    overflow: hidden;
  }

  #content #bottom_nav li a{
    margin: 5px 1%;
    padding: 0;
    width: 10%;
    display: block;
    float: left;
  }

  #content #bottom_nav li a{
    display: block; 
    width: 100%; 
    color: #2D3594;
  }
  /*--------------------------------------------------*/

  /*Medium Screens*/

  @media screen and (min-width: 481px) {

    #content {
      max-width: 680px; 
      font-size: 16pt; 
     }

  #content  #movies_list{
    max-width: 680px;
  }
  
   #content #movies_list li
   {
    margin: 15px 0 0 3%;
    width: 45%;
    float:left;
  }
  
  #content #movies_list li a img{
    margin: 0px auto;
    width: 100%;
    height: auto; 
    border: none;
    float: left; 
    position: initial;
    border-bottom: 1px dashed white; 
  }


  #content #movies_list li a p{
    font-size: 90%;
    padding: 8px; 
    clear: both; 
  }

  #content #movies_list li a p span{ 
    font-size: 80%
  }
}

/*--------------------------------------------------*/

/*Large Screens*/
@media screen and (min-width:801px) {
  #content {
    max-width: 1000px;   
  }

  #content h2 {
    padding: 10px; 
  }

  #content #sort_form, #content  #simple_search_form {
    width: 48%; 
    margin: 0 0 0 1.5%; 
    float: left;  
  }
  
  #content #simple_search_form input[type=text]{
    padding: 8px;
  }

  #content #adv_search_form fieldset ul li {
    float: left; 
    width: 47%;
    margin: 8px 0 5px 1.5%; 
  }

  #content #adv_search_form fieldset ul li label{
    width: 20%;
  }

  #content #adv_search_form fieldset ul li input[type=text]{
    width: 72%;
    padding: 8px;  
  }

    /*Styling the movies_list */

  #content #movies_list{
    max-width:1000px;
  }
  
  #content #movies_list li{
    margin: 15px 0 0 2%;
    width: 30%;
    background: url("../images/lista_background.jpg");
  }

}

/*--------------------------------------------------*/

/*Extra Large Screens*/

@media screen and (min-width:1121px) {
  #content {
    max-width: 1400px;   
  }

  #content #movies_list {
    max-width: 1440px; 
  }

  #content #movies_list li{
    margin: 15px 0 0 2.2%;
    width: 22%;
  }
}